<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
<title>{{ page.title | default: site.title }}</title>
{% seo %}
{% if page.header-image %}
  <meta name="image" property="og:image" content="{{ site.url }}{{ page.header-image }}">
{% endif %}


<!-- Twitter cards -->
<meta name="twitter:site"    content="@{{ site.texture.social_links.twitter }}">
<meta name="twitter:creator" content="@{{ site.texture.social_links.twitter }}">
<meta name="twitter:title"   content="{{ page.title }}">

{% if page.summary %}
<meta name="twitter:description" content="{{ page.summary }}">
{% else %}
<meta name="twitter:description" content="{{ site.description }}">
{% endif %}

{% if page.header-image %}
<meta name="twitter:card"  content="summary_large_image">
<meta name="twitter:image" content="{{ site.url }}{{ page.header-image }}">
{% else %}
<meta name="twitter:card"  content="summary">
{% endif %}
<!-- end of Twitter cards -->

